<div class="ultraWide">
  <section id="skills_Component">
    <div class="firstSector">
      <div class="labels">
        <h1 class="fontSyne disableTextSelection" appHighlighting>
          {{ "SECTIONS.skills" | translate }}
        </h1>

        <div class="skill_item">
          <div class="icon angular" appIconHover></div>
          <span class="fontOverpass disableTextSelection">Angular</span>
        </div>

        <div class="skill_item">
          <div class="icon materialDisign" appIconHover></div>
          <span class="fontOverpass disableTextSelection">Material Design</span>
        </div>

        <div class="skill_item">
          <div class="icon firebase" appIconHover></div>
          <span class="fontOverpass disableTextSelection">Firebase</span>
        </div>

        <div class="skill_item">
          <div class="icon typeScript" appIconHover></div>
          <span class="fontOverpass disableTextSelection">TypeScript</span>
        </div>

        <div class="skill_item">
          <div class="icon javaScript" appIconHover></div>
          <span class="fontOverpass disableTextSelection">JavaScript</span>
        </div>

        <div class="skill_item">
          <div class="icon html" appIconHover></div>
          <span class="fontOverpass disableTextSelection">HTML</span>
        </div>

        <div class="skill_item">
          <div class="icon css" appIconHover></div>
          <span class="fontOverpass disableTextSelection">CSS</span>
        </div>

        <div class="skill_item">
          <div class="icon git" appIconHover></div>
          <span class="fontOverpass disableTextSelection">Git</span>
        </div>

        <div class="skill_item">
          <div class="icon scrum" appIconHover></div>
          <span class="fontOverpass disableTextSelection">Scrum</span>
        </div>

        <div class="skill_item">
          <div class="icon rest" appIconHover></div>
          <span class="fontOverpass disableTextSelection">Rest-Api</span>
        </div>

        <div class="skill_item">
          <div class="icon wordPress" appIconHover></div>
          <span class="fontOverpass disableTextSelection">WordPress</span>
        </div>
      </div>
    </div>

    <div class="secondSector">
      <a
        [routerLink]="'/'"
        [fragment]="'portfolio_Component'"
        (click)="scrollToFragment('portfolio_Component')"
      >
        <div
          [ngClass]="{
            'rotate-left': rotatingArrowIsLeft,
            'rotate-right': !rotatingArrowIsLeft
          }"
        >
          <app-scroll-to-fragment-optional></app-scroll-to-fragment-optional>
        </div>
      </a>
      <div class="arrowOpposite"></div>
    </div>
  </section>
</div>
