@media screen and (min-width: 1025px) {
  .btnWrapper {
    position: relative;
  }

  .btnSelf {
    cursor: pointer;
    position: relative;
    font-size: clamp(1.5rem, 2vw + 1rem, 2.813rem);
    padding: 0.8rem 1.5rem;
    width: 20vw;
    background: transparent;
    border: none;
    font-weight: 700;
    white-space: nowrap;
    letter-spacing: -0.07rem;
    transition: background-color 0.3s ease, color 0.5s ease;
    // outline: 2px solid red;
  }

  .btnSelf::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 30px;
    height: 30px;
    border-style: solid;
    border-width: 4px;
    border-color: transparent transparent var(--primeColor-dark)
      var(--primeColor-dark);
    transition: width 0.5s ease;
  }

  .btnSelf:hover::after {
    width: 100%;
  }

  .btnSelf.isClicked::after {
    width: 100%;
    height: 80px;
    height: clamp(3rem, 4vw + 2rem, 5.5rem);
    border-style: solid;
    border-color: var(--primeColor-dark) var(--primeColor-dark)
      var(--primeColor-dark) var(--primeColor-dark);
    transition: width 0.5s ease, height 0s ease, transition-delay 1s;
  }
}
