@media screen and (max-width: 350px) and (orientation: portrait) {
  .contactButton {
    background-color: var(--btn-contact-background);
    border: 4px solid var(--btn-contact-border);
    color: var(--primeColor-light);
    box-shadow: unset;

    &:hover {
      background-color: var(--primeColor-dark);
      color: var(--primeColor-white);
      box-shadow: unset;
    }
  }
}

@media screen and (min-width: 350px) and (max-width: 720px) and (orientation: portrait) {
  .contactButton {
    background-color: var(--btn-contact-background);
    border: 4px solid var(--btn-contact-border);
    color: var(--primeColor-light);
    box-shadow: unset;

    &:hover {
      background-color: var(--primeColor-dark);
      color: var(--primeColor-white);
      box-shadow: unset;
    }
  }
}

@media screen and (max-width: 720px) and (orientation: landscape) {
  .contactButton {
    background-color: var(--btn-contact-background);
    border: 4px solid var(--btn-contact-border);
    color: var(--primeColor-light);
    box-shadow: unset;

    &:hover {
      background-color: var(--primeColor-dark);
      color: var(--primeColor-white);
      box-shadow: unset;
    }
  }
}

@media screen and (min-width: 720px) and (max-width: 1024px) and (orientation: portrait) {
  .contactButton {
    background-color: var(--btn-contact-background);
    border: 4px solid var(--btn-contact-border);
    color: var(--primeColor-light);
    box-shadow: unset;

    &:hover {
      background-color: var(--primeColor-dark);
      color: var(--primeColor-white);
      box-shadow: unset;
    }
  }
}

@media screen and (min-width: 720px) and (max-width: 1024px) and (orientation: landscape) {
  .contactButton {
    background-color: var(--btn-contact-background);
    border: 4px solid var(--btn-contact-border);
    color: var(--primeColor-light);
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
    box-shadow: unset;

    &:hover {
      background-color: var(--primeColor-dark);
      color: var(--primeColor-white);
      box-shadow: unset;
    }
  }
}

@media screen and (min-width: 1025px) {
  .contactButton {
    background-color: var(--btn-contact-background);
    border: 4px solid var(--btn-contact-border);
    color: var(--primeColor-light);
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
    box-shadow: unset;

    &:hover {
      background-color: var(--primeColor-dark);
      color: var(--primeColor-white);
      box-shadow: unset;
      transform: scaleX(1.2);
    }
  }
}
