@media screen and (max-width: 350px) and (orientation: portrait) {
  .landingButton {
    background-color: var(--primeColor-background);
    color: var(--primeColor-dark);
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
    border: 4px solid black;
    z-index: 10;
    position: relative;

    &:hover {
      background-color: var(--primeColor-background);
      color: var(--primeColor-dark);
    }
  }

  .aboutButton {
    background-color: var(--primeColor-background);
    color: var(--primeColor-dark);
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
    border: 4px solid black;
    z-index: 10;
    position: relative;

    &:hover {
      background-color: var(--primeColor-background);
      color: var(--primeColor-dark);
    }
  }

  .routerHome {
    background-color: var(--btn-contact-white);
    border: 4px solid var(--btn-contact-background);
    color: var(--primeColor-dark);
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
    box-shadow: unset;

    &:hover {
      border: 0.3rem solid var(--primeColor-secundario-darker);
      background-color: var(--primeColor-dark);
      color: var(--primeColor-white);
      box-shadow: unset;
      transform: scaleX(1.2);
    }
  }
}

@media screen and (min-width: 350px) and (max-width: 720px) and (orientation: portrait) {
  .landingButton {
    background-color: var(--primeColor-background);
    color: var(--primeColor-dark);
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
    border: 4px solid black;
    z-index: 10;
    position: relative;

    &:hover {
      background-color: var(--primeColor-background);
      color: var(--primeColor-dark);
    }
  }

  .aboutButton {
    background-color: var(--primeColor-background);
    color: var(--primeColor-dark);
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
    border: 4px solid black;
    z-index: 10;
    position: relative;

    &:hover {
      background-color: var(--primeColor-background);
      color: var(--primeColor-dark);
    }
  }

  .routerHome {
    background-color: var(--btn-contact-white);
    border: 4px solid var(--btn-contact-background);
    color: var(--primeColor-dark);
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
    box-shadow: unset;

    &:hover {
      border: 0.3rem solid var(--primeColor-secundario-darker);
      background-color: var(--primeColor-dark);
      color: var(--primeColor-white);
      box-shadow: unset;
      transform: scaleX(1.2);
    }
  }
}

@media screen and (max-width: 720px) and (orientation: landscape) {
  .landingButton {
    background-color: var(--primeColor-background);
    color: var(--primeColor-dark);
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
    border: 4px solid black;
    z-index: 10;
    position: relative;

    &:hover {
      background-color: var(--primeColor-background);
      color: var(--primeColor-dark);
    }
  }

  .aboutButton {
    background-color: var(--primeColor-background);
    color: var(--primeColor-dark);
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
    border: 4px solid black;
    z-index: 10;
    position: relative;

    &:hover {
      background-color: var(--primeColor-background);
      color: var(--primeColor-dark);
    }
  }

  .routerHome {
    background-color: var(--btn-contact-white);
    border: 4px solid var(--btn-contact-background);
    color: var(--primeColor-dark);
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
    box-shadow: unset;

    &:hover {
      border: 0.3rem solid var(--primeColor-secundario-darker);
      background-color: var(--primeColor-dark);
      color: var(--primeColor-white);
      box-shadow: unset;
      transform: scaleX(1.2);
    }
  }
}

@media screen and (min-width: 720px) and (max-width: 1024px) and (orientation: portrait) {
  .landingButton {
    background-color: var(--primeColor-background);
    color: var(--primeColor-dark);
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
    border: 4px solid black;
    z-index: 10;
    position: relative;

    &:hover {
      background-color: var(--primeColor-background);
      color: var(--primeColor-dark);
    }
  }

  .aboutButton {
    background-color: var(--primeColor-background);
    color: var(--primeColor-dark);
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
    border: 4px solid black;
    z-index: 10;
    position: relative;

    &:hover {
      background-color: var(--primeColor-background);
      color: var(--primeColor-dark);
    }
  }

  .routerHome {
    background-color: var(--btn-contact-white);
    border: 4px solid var(--btn-contact-background);
    color: var(--primeColor-dark);
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
    box-shadow: unset;

    &:hover {
      border: 0.3rem solid var(--primeColor-secundario-darker);
      background-color: var(--primeColor-dark);
      color: var(--primeColor-white);
      box-shadow: unset;
      transform: scaleX(1.2);
    }
  }
}

@media screen and (min-width: 720px) and (max-width: 1024px) and (orientation: landscape) {
  .landingButton {
    background-color: var(--primeColor-background);
    color: var(--primeColor-dark);
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
    border: 4px solid black;
    z-index: 10;
    position: relative;

    &:hover {
      background-color: var(--primeColor-background);
      color: var(--primeColor-dark);
    }
  }

  .aboutButton {
    background-color: var(--primeColor-background);
    color: var(--primeColor-dark);
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
    border: 4px solid black;
    z-index: 10;
    position: relative;

    &:hover {
      background-color: var(--primeColor-background);
      color: var(--primeColor-dark);
    }
  }

  .routerHome {
    background-color: var(--btn-contact-white);
    border: 4px solid var(--btn-contact-background);
    color: var(--primeColor-dark);
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
    box-shadow: unset;

    &:hover {
      border: 0.3rem solid var(--primeColor-secundario-darker);
      background-color: var(--primeColor-dark);
      color: var(--primeColor-white);
      box-shadow: unset;
      transform: scaleX(1.2);
    }
  }
}

@media screen and (min-width: 1025px) {
  .landingButton {
    background-color: var(--primeColor-background);
    color: var(--primeColor-dark);
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
    border: 4px solid black;
    z-index: 10;
    position: relative;

    &:hover {
      background-color: var(--primeColor-background);
      color: var(--primeColor-dark);
      transform: scaleX(1.2);
    }
  }

  .aboutButton {
    background-color: var(--primeColor-background);
    color: var(--primeColor-dark);
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
    border: 4px solid black;
    z-index: 10;
    position: relative;

    &:hover {
      background-color: var(--primeColor-background);
      color: var(--primeColor-dark);
      transform: scaleX(1.2);
    }
  }

  .routerHome {
    background-color: var(--btn-contact-white);
    border: 4px solid var(--btn-contact-background);
    color: var(--primeColor-dark);
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
    box-shadow: unset;

    &:hover {
      border: 0.3rem solid var(--primeColor-secundario-darker);
      background-color: var(--primeColor-dark);
      color: var(--primeColor-white);
      box-shadow: unset;
      transform: scaleX(1.2);
    }
  }
}
