.socialIconWrapper:hover .icon {
  animation: move-up 0.3s forwards, glow-socialGit 1s forwards;
}

.icon {
  transition: transform 0.3s ease, filter 0.3s ease;
}

@keyframes move-up {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

.socialIconWrapper:hover .socialGit {
  animation: move-up 0.3s forwards, glow-socialGit 1s forwards;
}

.socialIconWrapper:hover .socialMail {
  animation: move-up 0.3s forwards, glow-socialMail 1s forwards;
}

.socialIconWrapper:hover .socialIn {
  animation: move-up 0.3s forwards, glow-socialIn 1s forwards;
}

@keyframes glow-socialGit {
  0% {
    filter: drop-shadow(0 0 5px rgba(0, 255, 0, 0.5));
  }
  50% {
    filter: drop-shadow(0 0 15px rgba(0, 255, 0, 0.8));
  }
  100% {
    filter: drop-shadow(0 0 5px rgba(0, 255, 0, 0.5));
  }
}

@keyframes glow-socialMail {
  0% {
    filter: drop-shadow(0 0 5px rgba(255, 87, 34, 0.5));
  }
  50% {
    filter: drop-shadow(0 0 15px rgba(255, 87, 34, 0.8));
  }
  100% {
    filter: drop-shadow(0 0 5px rgba(255, 87, 34, 0.5));
  }
}

@keyframes glow-socialIn {
  0% {
    filter: drop-shadow(0 0 5px rgb(9, 101, 193));
  }
  50% {
    filter: drop-shadow(0 0 15px rgb(9, 101, 193));
  }
  100% {
    filter: drop-shadow(0 0 5px rgb(9, 101, 193));
  }
}
