// * Farben von dem Button sind in der Application-Styles zu finden.

@media screen and (max-width: 350px) and (orientation: portrait) {
  .btnFlexBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    width: 200px;
    height: 75px;
  }

  .btnSelf {
    flex: 0 1 0;
    min-width: fit-content;
    text-align: center;
    width: clamp(100px, 20% + 0.4rem, 200px);
    height: clamp(30px, 12% + 3rem, 60px);
    font-size: clamp(0.6rem, 1.4vw + 0.8rem, 1.2rem);
    border-radius: 2px;
    transition: background-color 0.3s ease, color 0.5s ease;
    padding: clamp(0.1rem, 0.1vw + 0.4rem, 1rem) clamp(1rem, 1.2vw + 1rem, 3rem);
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.25);
    white-space: nowrap;
    cursor: pointer;

    &:hover {
      box-shadow: 1px 1px 4px 0px rgba(0, 188, 143, 0.25);
    }
  }
}

@media screen and (min-width: 350px) and (max-width: 720px) and (orientation: portrait) {
  .btnFlexBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    width: 320px;
    height: 75px;
  }

  .btnSelf {
    flex: 0 1 0;
    min-width: fit-content;
    text-align: center;
    width: clamp(100px, 20% + 0.4rem, 200px);
    height: clamp(30px, 12% + 3rem, 60px);
    font-size: clamp(0.6rem, 1.4vw + 0.8rem, 1.2rem);
    border-radius: 2px;
    transition: background-color 0.3s ease, color 0.5s ease;
    padding: clamp(0.1rem, 0.1vw + 0.4rem, 1rem) clamp(1rem, 1.2vw + 1rem, 3rem);
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.25);
    white-space: nowrap;
    cursor: pointer;

    &:hover {
      box-shadow: 1px 1px 4px 0px rgba(0, 188, 143, 0.25);
    }
  }
}

@media screen and (max-width: 720px) and (orientation: landscape) {
  .btnFlexBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    width: 320px;
    height: 75px;
  }

  .btnSelf {
    flex: 0 1 0;
    min-width: fit-content;
    text-align: center;
    width: clamp(100px, 20% + 0.4rem, 200px);
    height: clamp(30px, 12% + 3rem, 60px);
    font-size: clamp(0.6rem, 1.4vw + 0.8rem, 1.2rem);
    border-radius: 2px;
    transition: background-color 0.3s ease, color 0.5s ease;
    padding: clamp(0.1rem, 0.1vw + 0.4rem, 1rem) clamp(1rem, 1.2vw + 1rem, 3rem);
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.25);
    white-space: nowrap;
    cursor: pointer;

    &:hover {
      box-shadow: 1px 1px 4px 0px rgba(0, 188, 143, 0.25);
    }
  }
}

@media screen and (min-width: 720px) and (max-width: 1024px) and (orientation: portrait) {
  .btnFlexBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    width: 320px;
    height: 75px;
  }

  .btnSelf {
    flex: 0 1 0;
    min-width: fit-content;
    text-align: center;
    width: clamp(100px, 20% + 0.4rem, 200px);
    height: clamp(30px, 12% + 3rem, 60px);
    font-size: clamp(0.6rem, 1.4vw + 0.8rem, 1.2rem);
    border-radius: 2px;
    transition: background-color 0.3s ease, color 0.5s ease;
    padding: clamp(0.1rem, 0.1vw + 0.6rem, 1rem) clamp(1rem, 1.2vw + 1rem, 3rem);
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.25);
    white-space: nowrap;
    cursor: pointer;

    &:hover {
      box-shadow: 1px 1px 4px 0px rgba(0, 188, 143, 0.25);
    }
  }
}

@media screen and (min-width: 720px) and (max-width: 1024px) and (orientation: landscape) {
  .btnFlexBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    width: 320px;
    height: 75px;
  }

  .btnSelf {
    flex: 0 1 0;
    min-width: fit-content;
    text-align: center;
    width: clamp(100px, 20% + 0.4rem, 200px);
    height: clamp(30px, 12% + 3rem, 60px);
    font-size: clamp(0.6rem, 1.4vw + 0.8rem, 1.2rem);
    border-radius: 2px;
    transition: background-color 0.3s ease, color 0.5s ease;
    padding: clamp(0.1rem, 0.1vw + 0.4rem, 1rem) clamp(1rem, 1.2vw + 1rem, 3rem);
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.25);
    white-space: nowrap;
    cursor: pointer;

    &:hover {
      box-shadow: 1px 1px 4px 0px rgba(0, 188, 143, 0.25);
    }
  }
}

@media screen and (min-width: 1025px) {
  .btnFlexBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    width: 320px;
    height: 75px;
  }

  .btnSelf {
    flex: 0 1 0;
    min-width: fit-content;
    text-align: center;
    width: clamp(100px, 20% + 0.4rem, 200px);
    height: clamp(30px, 12% + 3rem, 60px);
    font-size: clamp(0.6rem, 1.4vw + 0.2rem, 1.2rem);
    border-radius: 2px;
    transition: background-color 0.3s ease, color 0.5s ease;
    padding: clamp(0.1rem, 0.1vw + 0.8rem, 1rem) clamp(1rem, 1.2vw + 2rem, 3rem);
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.25);
    white-space: nowrap;
    cursor: pointer;

    &:hover {
      box-shadow: 1px 1px 4px 0px rgba(0, 188, 143, 0.25);
    }
  }
}
