<div class="ultraWide">
  <div class="footer_section">
    <div class="footerContent">
      <div class="leftWrapper">
        <a
          routerLink="/home"
          fragment="landingPage_firstSector"
          (click)="navigateToHome()"
          ><img class="pageLogo" src="assets/images/terminal_logo.svg"
        /></a>
        <span class="copyRight fontOverpass disableTextSelection"
          >© Konstantin Aksenov 2025</span
        >
      </div>

      <div class="rightWrapper">
        <div class="socialIcons fontOverpass disableTextSelection">
          <div class="socialIconWrapper" appIconHover>
            <a
              class="socialIconSelf icon socialGit"
              href="https://github.com/KosMaster87"
              target="_blank"
              rel="noopener noreferrer"
            ></a>
          </div>
          <div class="socialIconWrapper" appIconHover>
            <a
              class="socialIconSelf icon socialMail"
              href="mailto:konstantin.aksenov@dev2k.org"
            ></a>
          </div>
          <div class="socialIconWrapper" appIconHover>
            <a
              class="socialIconSelf icon socialIn"
              href="https://www.linkedin.com/in/konstantin-aksenov-802b88190/"
              target="_blank"
              rel="noopener noreferrer"
            ></a>
          </div>
        </div>

        <span class="legal fontOverpass disableTextSelection"
          ><a class="imprintHover" routerLink="/imprint"
            >Privacy Policy & Legal Notice</a
          ></span
        >
      </div>
    </div>

    <div class="footerContentMobile dNone">
      <div class="leftWrapper">
        <div class="socialIcons fontOverpass disableTextSelection">
          <div class="socialIconWrapper" appIconHover>
            <a
              class="socialIconSelf icon socialGit"
              href="https://github.com/KosMaster87"
              target="_blank"
              rel="noopener noreferrer"
            ></a>
          </div>

          <div class="socialIconWrapper" appIconHover>
            <a
              class="socialIconSelf icon socialMail"
              href="mailto:konstantin.aksenov@dev2k.org"
            ></a>
          </div>

          <div class="socialIconWrapper" appIconHover>
            <a
              class="socialIconSelf icon socialIn"
              href="https://www.linkedin.com/in/konstantin-aksenov-802b88190/"
              target="_blank"
              rel="noopener noreferrer"
            ></a>
          </div>
        </div>

        <a
          routerLink="/home"
          fragment="landingPage_firstSector"
          (click)="navigateToHome()"
          ><img class="pageLogo" src="assets/images/terminal_logo.svg"
        /></a>
      </div>

      <div class="rightWrapper">
        <span class="copyRight fontOverpass disableTextSelection"
          >Konstantin.Aksenov&#64;dev2k.org</span
        >
        <span class="legal fontOverpass disableTextSelection"
          ><a
            class="imprintHover"
            routerLink="/imprint"
            fragment="imprint_component"
            >Privacy Policy & Legal Notice</a
          ></span
        >
      </div>
    </div>
  </div>
</div>
