<div class="ultraWide">
  <div class="footer_section">
    <div class="footerContent">
      <div class="leftWrapper">
        <img class="pageLogo" src="assets/images/terminal_logo.svg" />
        <span class="copyRight fontOverpass disableTextSelection"
          >© Konstantin Aksenov 2025</span
        >
      </div>

      <div class="rightWrapper">
        <div class="socialIcons fontOverpass disableTextSelection">
          <div class="socialIconSelf socialGit"></div>
          <div class="socialIconSelf socialMail"></div>
          <div class="socialIconSelf socialIn"></div>
        </div>
        <span class="legal fontOverpass disableTextSelection"
          ><a routerLink="/imprint" (click)="debug()">Privacy Policy & Legal Notice</a></span
        >
      </div>
    </div>

    <div class="footerContentMobile dNone">
      <div class="leftWrapper">
        <div class="socialIcons fontOverpass disableTextSelection">
          <div class="socialIconSelf socialGit"></div>
          <div class="socialIconSelf socialMail"></div>
          <div class="socialIconSelf socialIn"></div>
        </div>
        <img class="pageLogo" src="assets/images/terminal_logo.svg" />
      </div>

      <div class="rightWrapper">
        <span class="copyRight fontOverpass disableTextSelection"
          >Konstantin.Aksenov&#64;dev2k.org</span
        >
        <span class="legal fontOverpass disableTextSelection"
          ><a routerLink="/imprint" (click)="debug()">Privacy Policy & Legal Notice</a></span
        >
      </div>
    </div>
  </div>
</div>
