.arrowContainer {
  height: 100px;
  overflow: hidden;
  position: relative;
}

.arrowAnimation {
  position: absolute;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
  animation: slideArrow 3s linear infinite;
}

.arrowAnimation img {
  width: 50px;
  height: auto;
}

@keyframes slideArrow {
  0% {
    top: -100px;
  }
  50% {
    top: 50px;
  }
  100% {
    top: 200px;
  }
}
