<div class="ultraWide">
  <section class="imprint_component">
    <div class="firstSector">
      <a routerLink="/home">
        <p>Zurück zur page.</p>
      </a>
    </div>

    <div class="secondSector">
      <p>
        Konstantin Aksenov <br />
        Concordia Str. <br />
        <br />
        Loma Plata
      </p>
      <br />
      <h3>Kontakt</h3>
      <p>E-Mail: Konstantin.Aksenov&#64;dev2k.org</p>
    </div>

    <div class="thirdSector">
      <p>Quelle: <a href="https://www.e-recht24.de">e-recht24.de</a></p>
    </div>
  </section>
</div>
