<div class="ultraWide">
  <section class="imprint_component">
    <h1
      class="greeting fontSyne disableTextSelection"
      [appHighlighting]="isHighlighted"
    >
      Privacy Policy & Legal Notice
    </h1>

    <div class="businessCard">
      <div class="imprintContent">
        <p>
          <b>Konstantin Aksenov</b> <br />
          Concordia Str. <br />
          Loma Plata
        </p>

        <div>
          <h3>Kontakt</h3>
          <p>E-Mail: Konstantin.Aksenov&#64;dev2k.org</p>
        </div>
      </div>

      <app-call-action-button
        [buttonClass]="'routerHome'"
        [buttonTextRowOne]="'Switch back'"
        routerLink="/home"
      >
      </app-call-action-button>
    </div>

    <div class="privacyLegalWrapper">
      <span class="privacyLegal">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deserunt
        nihil, placeat nam cum consequuntur quos similique accusantium corrupti
        iusto tenetur. Doloremque eum dolores blanditiis minus accusamus ipsa,
        quae quod dolorem! Lorem ipsum dolor sit amet consectetur, adipisicing
        elit. Deserunt nihil, placeat nam cum consequuntur quos similique
        accusantium corrupti iusto tenetur. Doloremque eum dolores blanditiis
        minus accusamus ipsa, quae quod dolorem! Lorem ipsum dolor sit amet
        consectetur, adipisicing elit. Deserunt nihil, placeat nam cum
        consequuntur quos similique accusantium corrupti iusto tenetur.
        Doloremque eum dolores blanditiis minus accusamus ipsa, quae quod
        dolorem! Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        Deserunt nihil, placeat nam cum consequuntur quos similique accusantium
        corrupti iusto tenetur. Doloremque eum dolores blanditiis minus
        accusamus ipsa, quae quod dolorem! Lorem ipsum dolor sit amet
        consectetur, adipisicing elit. Deserunt nihil, placeat nam cum
        consequuntur quos similique accusantium corrupti iusto tenetur.
        Doloremque eum dolores blanditiis minus accusamus ipsa, quae quod
        dolorem! Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        Deserunt nihil, placeat nam cum consequuntur quos similique accusantium
        corrupti iusto tenetur. Doloremque eum dolores blanditiis minus
        accusamus ipsa, quae quod dolorem! Lorem ipsum dolor sit amet
        consectetur, adipisicing elit. Deserunt nihil, placeat nam cum
        consequuntur quos similique accusantium corrupti iusto tenetur.
        Doloremque eum dolores blanditiis minus accusamus ipsa, quae quod
        dolorem! Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        Deserunt nihil, placeat nam cum consequuntur quos similique accusantium
        corrupti iusto tenetur. Doloremque eum dolores blanditiis minus
        accusamus ipsa, quae quod dolorem! Lorem ipsum dolor sit amet
        consectetur, adipisicing elit. Deserunt nihil, placeat nam cum
        consequuntur quos similique accusantium corrupti iusto tenetur.
        Doloremque eum dolores blanditiis minus accusamus ipsa, quae quod
        dolorem! Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        Deserunt nihil, placeat nam cum consequuntur quos similique accusantium
        corrupti iusto tenetur. Doloremque eum dolores blanditiis minus
        accusamus ipsa, quae quod dolorem! Lorem ipsum dolor sit amet
        consectetur, adipisicing elit. Deserunt nihil, placeat nam cum
        consequuntur quos similique accusantium corrupti iusto tenetur.
        Doloremque eum dolores blanditiis minus accusamus ipsa, quae quod
        dolorem! Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        Deserunt nihil, placeat nam cum consequuntur quos similique accusantium
        corrupti iusto tenetur. Doloremque eum dolores blanditiis minus
        accusamus ipsa, quae quod dolorem! Lorem ipsum dolor sit amet
        consectetur, adipisicing elit. Deserunt nihil, placeat nam cum
        consequuntur quos similique accusantium corrupti iusto tenetur.
        Doloremque eum dolores blanditiis minus accusamus ipsa, quae quod
        dolorem! Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        Deserunt nihil, placeat nam cum consequuntur quos similique accusantium
        corrupti iusto tenetur. Doloremque eum dolores blanditiis minus
        accusamus ipsa, quae quod dolorem! Lorem ipsum dolor sit amet
        consectetur, adipisicing elit. Deserunt nihil, placeat nam cum
        consequuntur quos similique accusantium corrupti iusto tenetur.
        Doloremque eum dolores blanditiis minus accusamus ipsa, quae quod
        dolorem! Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        Deserunt nihil, placeat nam cum consequuntur quos similique accusantium
        corrupti iusto tenetur. Doloremque eum dolores blanditiis minus
        accusamus ipsa, quae quod dolorem! Lorem ipsum dolor sit amet
        consectetur, adipisicing elit. Deserunt nihil, placeat nam cum
        consequuntur quos similique accusantium corrupti iusto tenetur.
        Doloremque eum dolores blanditiis minus accusamus ipsa, quae quod
        dolorem! Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        Deserunt nihil, placeat nam cum consequuntur quos similique accusantium
        corrupti iusto tenetur. Doloremque eum dolores blanditiis minus
        accusamus ipsa, quae quod dolorem! Lorem ipsum dolor sit amet
        consectetur, adipisicing elit. Deserunt nihil, placeat nam cum
        consequuntur quos similique accusantium corrupti iusto tenetur.
        Doloremque eum dolores blanditiis minus accusamus ipsa, quae quod
        dolorem! Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        Deserunt nihil, placeat nam cum consequuntur quos similique accusantium
        corrupti iusto tenetur. Doloremque eum dolores blanditiis minus
        accusamus ipsa, quae quod dolorem! Lorem ipsum dolor sit amet
        consectetur, adipisicing elit. Deserunt nihil, placeat nam cum
        consequuntur quos similique accusantium corrupti iusto tenetur.
        Doloremque eum dolores blanditiis minus accusamus ipsa, quae quod
        dolorem! Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        Deserunt nihil, placeat nam cum consequuntur quos similique accusantium
        corrupti iusto tenetur. Doloremque eum dolores blanditiis minus
        accusamus ipsa, quae quod dolorem! Lorem ipsum dolor sit amet
        consectetur, adipisicing elit. Deserunt nihil, placeat nam cum
        consequuntur quos similique accusantium corrupti iusto tenetur.
        Doloremque eum dolores blanditiis minus accusamus ipsa, quae quod
        dolorem! Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        Deserunt nihil, placeat nam cum consequuntur quos similique accusantium
        corrupti iusto tenetur. Doloremque eum dolores blanditiis minus
        accusamus ipsa, quae quod dolorem! Lorem ipsum dolor sit amet
        consectetur, adipisicing elit. Deserunt nihil, placeat nam cum
        consequuntur quos similique accusantium corrupti iusto tenetur.
        Doloremque eum dolores blanditiis minus accusamus ipsa, quae quod
        dolorem! Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        Deserunt nihil, placeat nam cum consequuntur quos similique accusantium
        corrupti iusto tenetur. Doloremque eum dolores blanditiis minus
        accusamus ipsa, quae quod dolorem! Lorem ipsum dolor sit amet
        consectetur, adipisicing elit. Deserunt nihil, placeat nam cum
        consequuntur quos similique accusantium corrupti iusto tenetur.
        Doloremque eum dolores blanditiis minus accusamus ipsa, quae quod
        dolorem! Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        Deserunt nihil, placeat nam cum consequuntur quos similique accusantium
        corrupti iusto tenetur. Doloremque eum dolores blanditiis minus
        accusamus ipsa, quae quod dolorem! Lorem ipsum dolor sit amet
        consectetur, adipisicing elit. Deserunt nihil, placeat nam cum
        consequuntur quos similique accusantium corrupti iusto tenetur.
        Doloremque eum dolores blanditiis minus accusamus ipsa, quae quod
        dolorem! Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        Deserunt nihil, placeat nam cum consequuntur quos similique accusantium
        corrupti iusto tenetur. Doloremque eum dolores blanditiis minus
        accusamus ipsa, quae quod dolorem! Lorem ipsum dolor sit amet
        consectetur, adipisicing elit. Deserunt nihil, placeat nam cum
        consequuntur quos similique accusantium corrupti iusto tenetur.
        Doloremque eum dolores blanditiis minus accusamus ipsa, quae quod
        dolorem! Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        Deserunt nihil, placeat nam cum consequuntur quos similique accusantium
        corrupti iusto tenetur. Doloremque eum dolores blanditiis minus
        accusamus ipsa, quae quod dolorem! Lorem ipsum dolor sit amet
        consectetur, adipisicing elit. Deserunt nihil, placeat nam cum
        consequuntur quos similique accusantium corrupti iusto tenetur.
        Doloremque eum dolores blanditiis minus accusamus ipsa, quae quod
        dolorem! Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        Deserunt nihil, placeat nam cum consequuntur quos similique accusantium
        corrupti iusto tenetur. Doloremque eum dolores blanditiis minus
        accusamus ipsa, quae quod dolorem! Lorem ipsum dolor sit amet
        consectetur, adipisicing elit. Deserunt nihil, placeat nam cum
        consequuntur quos similique accusantium corrupti iusto tenetur.
        Doloremque eum dolores blanditiis minus accusamus ipsa, quae quod
        dolorem! Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        Deserunt nihil, placeat nam cum consequuntur quos similique accusantium
        corrupti iusto tenetur. Doloremque eum dolores blanditiis minus
        accusamus ipsa, quae quod dolorem! Lorem ipsum dolor sit amet
        consectetur, adipisicing elit. Deserunt nihil, placeat nam cum
        consequuntur quos similique accusantium corrupti iusto tenetur.
        Doloremque eum dolores blanditiis minus accusamus ipsa, quae quod
        dolorem! Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        Deserunt nihil, placeat nam cum consequuntur quos similique accusantium
        corrupti iusto tenetur. Doloremque eum dolores blanditiis minus
        accusamus ipsa, quae quod dolorem! Lorem ipsum dolor sit amet
        consectetur, adipisicing elit. Deserunt nihil, placeat nam cum
        consequuntur quos similique accusantium corrupti iusto tenetur.
        Doloremque eum dolores blanditiis minus accusamus ipsa, quae quod
        dolorem! Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        Deserunt nihil, placeat nam cum consequuntur quos similique accusantium
        corrupti iusto tenetur. Doloremque eum dolores blanditiis minus
        accusamus ipsa, quae quod dolorem! Lorem ipsum dolor sit amet
        consectetur, adipisicing elit. Deserunt nihil, placeat nam cum
        consequuntur quos similique accusantium corrupti iusto tenetur.
        Doloremque eum dolores blanditiis minus accusamus ipsa, quae quod
        dolorem! Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        Deserunt nihil, placeat nam cum consequuntur quos similique accusantium
        corrupti iusto tenetur. Doloremque eum dolores blanditiis minus
        accusamus ipsa, quae quod dolorem! Lorem ipsum dolor sit amet
        consectetur, adipisicing elit. Deserunt nihil, placeat nam cum
        consequuntur quos similique accusantium corrupti iusto tenetur.
        Doloremque eum dolores blanditiis minus accusamus ipsa, quae quod
        dolorem! Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        Deserunt nihil, placeat nam cum consequuntur quos similique accusantium
        corrupti iusto tenetur. Doloremque eum dolores blanditiis minus
        accusamus ipsa, quae quod dolorem! Lorem ipsum dolor sit amet
        consectetur, adipisicing elit. Deserunt nihil, placeat nam cum
        consequuntur quos similique accusantium corrupti iusto tenetur.
        Doloremque eum dolores blanditiis minus accusamus ipsa, quae quod
        dolorem! Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        Deserunt nihil, placeat nam cum consequuntur quos similique accusantium
        corrupti iusto tenetur. Doloremque eum dolores blanditiis minus
        accusamus ipsa, quae quod dolorem! Lorem ipsum dolor sit amet
        consectetur, adipisicing elit. Deserunt nihil, placeat nam cum
        consequuntur quos similique accusantium corrupti iusto tenetur.
        Doloremque eum dolores blanditiis minus accusamus ipsa, quae quod
        dolorem! Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        Deserunt nihil, placeat nam cum consequuntur quos similique accusantium
        corrupti iusto tenetur. Doloremque eum dolores blanditiis minus
        accusamus ipsa, quae quod dolorem! Lorem ipsum dolor sit amet
        consectetur, adipisicing elit. Deserunt nihil, placeat nam cum
        consequuntur quos similique accusantium corrupti iusto tenetur.
        Doloremque eum dolores blanditiis minus accusamus ipsa, quae quod
        dolorem! Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        Deserunt nihil, placeat nam cum consequuntur quos similique accusantium
        corrupti iusto tenetur. Doloremque eum dolores blanditiis minus
        accusamus ipsa, quae quod dolorem! Lorem ipsum dolor sit amet
        consectetur, adipisicing elit. Deserunt nihil, placeat nam cum
        consequuntur quos similique accusantium corrupti iusto tenetur.
        Doloremque eum dolores blanditiis minus accusamus ipsa, quae quod
        dolorem! Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        Deserunt nihil, placeat nam cum consequuntur quos similique accusantium
        corrupti iusto tenetur. Doloremque eum dolores blanditiis minus
        accusamus ipsa, quae quod dolorem! Lorem ipsum dolor sit amet
        consectetur, adipisicing elit. Deserunt nihil, placeat nam cum
        consequuntur quos similique accusantium corrupti iusto tenetur.
        Doloremque eum dolores blanditiis minus accusamus ipsa, quae quod
        dolorem! Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        Deserunt nihil, placeat nam cum consequuntur quos similique accusantium
        corrupti iusto tenetur. Doloremque eum dolores blanditiis minus
        accusamus ipsa, quae quod dolorem! Lorem ipsum dolor sit amet
        consectetur, adipisicing elit. Deserunt nihil, placeat nam cum
        consequuntur quos similique accusantium corrupti iusto tenetur.
        Doloremque eum dolores blanditiis minus accusamus ipsa, quae quod
        dolorem! Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        Deserunt nihil, placeat nam cum consequuntur quos similique accusantium
        corrupti iusto tenetur. Doloremque eum dolores blanditiis minus
        accusamus ipsa, quae quod dolorem! Lorem ipsum dolor sit amet
        consectetur, adipisicing elit. Deserunt nihil, placeat nam cum
        consequuntur quos similique accusantium corrupti iusto tenetur.
        Doloremque eum dolores blanditiis minus accusamus ipsa, quae quod
        dolorem! Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        Deserunt nihil, placeat nam cum consequuntur quos similique accusantium
        corrupti iusto tenetur. Doloremque eum dolores blanditiis minus
        accusamus ipsa, quae quod dolorem!
      </span>

      <p>
        Quelle:
        <a routerLink="/home">e-recht24.de</a>
        <!-- <a href="https://www.e-recht24.de" routerLink="/home">e-recht24.de</a> -->
      </p>
    </div>
  </section>
</div>

