<div class="ultraWide">
  <section class="imprint_component">
    <h1
      class="greeting fontSyne disableTextSelection"
      [appHighlighting]="isHighlighted"
    >
      Privacy Policy & Legal Notice
    </h1>

    <div class="businessCard">
      <div class="imprintContent">
        <p>
          <b>Konstantin Aksenov</b> <br />
          Concordia Str. <br />
          Loma Plata
        </p>

        <div>
          <h3>Kontakt</h3>
          <p>E-Mail: Konstantin.Aksenov&#64;dev2k.org</p>
        </div>
      </div>

      <app-call-action-button
        [buttonClass]="'routerHome'"
        [buttonTextRowOne]="'Switch back'"
        routerLink="/home"
      >
      </app-call-action-button>
    </div>

    <div class="privacyLegalWrapper">
      <div class="privacyLegal">
        <div class="imprintWrapper">
          <div>
            <p><strong>Haftungsausschluss:</strong></p>
            <p>
              Konstantin Aksenov<br />
              Am Weg 77<br />
              Loma Plata
            </p>
          </div>

          <div>
            <p><strong>Haftung für Inhalte:</strong></p>
            <p>
              <strong>Vertreten durch:</strong><br />
              Konstantin Aksenov<br />
              <a href="mailto:konstantin.aksenov@dev2k.org"
                >konstantin.aksenov&#64;org</a
              >
            </p>
          </div>
        </div>

        <p>
          Die Inhalte unserer Seiten wurden mit größter Sorgfalt erstellt. Für
          die Richtigkeit, Vollständigkeit und Aktualität der Inhalte können wir
          jedoch keine Gewähr übernehmen. Als Diensteanbieter sind wir gemäß § 7
          Abs.1 TMG für eigene Inhalte auf diesen Seiten nach den allgemeinen
          Gesetzen verantwortlich. Nach §§ 8 bis 10 TMG sind wir als
          Diensteanbieter jedoch nicht verpflichtet, übermittelte oder
          gespeicherte fremde Informationen zu überwachen oder nach Umständen zu
          forschen, die auf eine rechtswidrige Tätigkeit hinweisen.
          Verpflichtungen zur Entfernung oder Sperrung der Nutzung von
          Informationen nach den allgemeinen Gesetzen bleiben hiervon unberührt.
          Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der
          Kenntnis einer konkreten Rechtsverletzung möglich. Bei Bekanntwerden
          von entsprechenden Rechtsverletzungen werden wir diese Inhalte
          umgehend entfernen.
        </p>

        <p style="margin-top: 0.5rem"><strong>Haftung für Links:</strong></p>
        <p>
          Unser Angebot enthält Links zu externen Webseiten Dritter, auf deren
          Inhalte wir keinen Einfluss haben. Deshalb können wir für diese
          fremden Inhalte auch keine Gewähr übernehmen. Für die Inhalte der
          verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der
          Seiten verantwortlich. Die verlinkten Seiten wurden zum Zeitpunkt der
          Verlinkung auf mögliche Rechtsverstöße überprüft. Rechtswidrige
          Inhalte waren zum Zeitpunkt der Verlinkung nicht erkennbar. Eine
          permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne
          konkrete Anhaltspunkte einer Rechtsverletzung nicht zumutbar. Bei
          Bekanntwerden von Rechtsverletzungen werden wir derartige Links
          umgehend entfernen.
        </p>

        <p style="margin-top: 0.5rem"><strong>Datenschutz:</strong></p>
        <p>
          Die Nutzung unserer Webseite ist in der Regel ohne Angabe
          personenbezogener Daten möglich. Soweit auf unseren Seiten
          personenbezogene Daten (beispielsweise Name, Anschrift oder
          eMail-Adressen) erhoben werden, erfolgt dies, soweit möglich, stets
          auf freiwilliger Basis. Diese Daten werden ohne Ihre ausdrückliche
          Zustimmung nicht an Dritte weitergegeben. <br />
          Wir weisen darauf hin, dass die Datenübertragung im Internet (z.B. bei
          der Kommunikation per E-Mail) Sicherheitslücken aufweisen kann. Ein
          lückenloser Schutz der Daten vor dem Zugriff durch Dritte ist nicht
          möglich.
        </p>

        <p>
          Der Nutzung von im Rahmen der Impressumspflicht veröffentlichten
          Kontaktdaten durch Dritte zur Übersendung von nicht ausdrücklich
          angeforderter Werbung und Informationsmaterialien wird hiermit
          ausdrücklich widersprochen. Die Betreiber der Seiten behalten sich
          ausdrücklich rechtliche Schritte im Falle der unverlangten Zusendung
          von Werbeinformationen, etwa durch Spam-Mails, vor.
        </p>

        <p style="margin: 0.5rem 0">
          Website Impressum von
          <a class="linkStyle" href="https://www.impressum-generator.de"
            >impressum-generator.de</a
          >
        </p>

        <p>
          The icons are provided by <br />
          <a
            class="linkStyle"
            href="https://fontawesome.com/"
            rel="nofollow"
            target="_blank"
            >FontAwesome</a
          >
          unter the <br />
          <a
            class="linkStyle"
            href="https://fontawesome.com/license"
            target="_blank"
            rel="nofollow"
          >
            Creative Commons Attribution <br />
            4.0 International license</a
          >
        </p>
      </div>

      <!-- <h2>
        <a [routerLink]="['/zeug', meinZeugID]" routerLinkActive="" [routerLinkActive]="[meinAktiveKlasse, 'active']" >Zeug</a>
      </h2> -->
      <!-- [routerLink]="['/zeug', meinZeugID]" dient um pfade und ordner auf die angegebene route zu leiten.  -->
      <!-- meinAktiveKlasse in der componente als variable nutzen. -->
      <!-- routerLinkActive="" um CSS-Klassen dynamisch hinzuzufügen, wenn der zugehörige Router-Link aktiv ist -->

      <p>
        Quelle:
        <a routerLink="/home">e-recht24.de</a>
      </p>
    </div>
  </section>
</div>
