.ultraWide {
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--primeColor-background);
}

section {
  width: 100%;
  max-width: 1440px;
  display: grid;
  grid-template-columns: 1fr 80% 1fr;
  grid-template-rows: 50vh auto;
  grid-column-gap: 0;
  grid-row-gap: 0;
  grid-template-areas:
    " . cardSection . "
    " . privacyLegalWrapper . ";
}

@media screen and (max-width: 1024px) {
  .greeting {
    font-size: clamp(1rem, 2.5vw + 0.5rem, 2.25rem);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    font-weight: 800;
    letter-spacing: -0.07rem;
    color: var(--primeColor-dark);
    text-align: center;
    text-wrap: balance;
  }

  .cardSection {
    grid-area: cardSection;
    flex-direction: column;
    gap: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .businessCardEmail {
    font-size: clamp(0.688rem, 1vw + 0.25rem, 1rem);
  }

  .businessCard {
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: 0.1rem solid var(--primeColor-secundario);
    background-color: var(--primeColor-background);
    padding: 1rem;
    border-radius: 0.2rem;
    transition: all 0.9s ease;
    padding: 4vw;

    &:hover {
      box-shadow: 4px 4px 4px 0px var(--primeColor-secundario-darker);
      border: 0.1rem solid var(--primeColor-secundario);
      transition: all 0.9s ease;
    }

    p {
      color: var(--primeColor-dark);
    }
  }

  .privacyLegalWrapper {
    grid-area: privacyLegalWrapper;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    .privacyLegal {
      font-size: clamp(0.7rem, 1vw + 0.25rem, 1rem);
    }

    h2 {
      margin-top: 0.5rem;
    }

    .seal {
      margin-bottom: 0.5rem;
    }
  }

  a[routerLink] {
    cursor: pointer;
    text-decoration: none;
    position: relative;
    color: var(--primeColor-secundario-darker);
  }

  a[routerLink]::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: var(--primeColor-secundario-darker);
    transition: width 0.2s ease-in-out;
  }

  a[routerLink]:hover::after {
    width: 100%;
  }
}

@media screen and (max-width: 1024px) and (orientation: landscape) {
  section {
    grid-template-columns: 1fr 80% 1fr;
    grid-template-rows: 1fr auto;
    grid-column-gap: 0;
    grid-row-gap: 0;
  }

  .cardSection {
    gap: 2rem;
    margin: 2rem 0;
  }
}

@media screen and (min-width: 1024px) {
  .privacyLegal {
    max-width: 80ch;
  }

  .greeting {
    align-self: center;
    justify-self: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    font-weight: 800;
    letter-spacing: -0.07rem;
    color: var(--primeColor-dark);
    text-align: center;
    white-space: nowrap;
    font-size: clamp(1.5rem, 2vw + 1rem, 2.25rem);
  }

  .cardSection {
    grid-area: cardSection;
    flex-direction: column;
    gap: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .privacyLegalWrapper {
    grid-area: privacyLegalWrapper;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
    gap: 2rem;

    span {
      font-size: 11px;
    }
  }

  .businessCard {
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: 0.1rem solid var(--primeColor-secundario);
    background-color: var(--primeColor-background);
    padding: 1rem;
    border-radius: 0.2rem;
    transition: all 0.9s ease;
    padding: 4vw;

    &:hover {
      box-shadow: 4px 4px 4px 0px var(--primeColor-secundario-darker);
      border: 0.1rem solid var(--primeColor-secundario);
      transition: all 0.9s ease;
    }

    p {
      color: var(--primeColor-dark);
    }

    .seal {
      margin-bottom: 0.5rem;
    }
  }

  a[routerLink] {
    cursor: pointer;
    text-decoration: none;
    position: relative;
    color: var(--primeColor-secundario-darker);
  }

  a[routerLink]::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: var(--primeColor-secundario-darker);
    transition: width 0.2s ease-in-out;
  }

  a[routerLink]:hover::after {
    width: 100%;
  }
}
