.homeArrow {
  background-image: url("./../../../../../public/assets/vector/arrows/arrowTop.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: clamp(50px, 20vw, 60px);
  height: clamp(50px, 20vw, 80px);
  transform: translate(0%, -110%);
  transform-origin: bottom; /* Wachstum erfolgt nach oben */
  transition: transform 0.3s ease; /* Animation hinzufügen */
}

.homeArrow:hover {
  transform: translate(0%, -110%) scaleY(1.3); /* Nur in Y-Richtung wachsen */
}