.menuWrapper {
  padding: 1rem;
}

.menu {
  background: var(--primeColor-menu);
  width: 100%;
  height: 100vh;
  position: fixed;
  right: 0;
  transition-timing-function: cubic-bezier(10, 2, 3, 1);
  transform: translateX(100%);
  top: 0;
  z-index: 20;
  transition: 0.5s;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.menuInput {
  display: none;
}

.menuInput:checked ~ .menu {
  transform: translateX(0);
}

.burger {
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.burger > div {
  height: 2px;
  background-color: var(--primeColor-dark);
  transition: 0.5s;
  z-index: 999;
}

.menuInput:checked ~ .burger > div {
  background-color: var(--primeColor-dark);
}

.menuInput:checked ~ .burger > div:nth-child(1) {
  transform: translateY(15px) rotate(45deg);
}
.menuInput:checked ~ .burger > div:nth-child(2) {
  opacity: 0;
}
.menuInput:checked ~ .burger > div:nth-child(3) {
  transform: translateY(-15px) rotate(-45deg);
}
