<div class="ultraWide">
  <section class="landingPage_Section">
    <div class="landingPage_firstSector" id="landingPage_firstSector">
      <div class="landingPage_Headline_Box">
        <div class="landingPage_Headline_Titel">
          <h1 class="fontSyne disableTextSelection">
            Frontend <br />
            Developer
          </h1>
        </div>
      </div>

      <div class="landingPage_Headline_NameBox">
        <div class="landingPage_Headline_SolidLine"></div>
        <h3 class="fontOverpass disableTextSelection">Konstantin Aksenov</h3>
      </div>
    </div>

    <div class="landingPage_secondSector">
      <app-call-action-button
        [buttonClass]="'landingButton'"
        [buttonTextRowOne]="'Send message'"
        [routerLink]="'/'"
        [fragment]="'contact_component'"
      ></app-call-action-button>
    </div>

    <div class="landingPage_thirdSector">
      <a
        class="fontOverpass disableTextSelection"
        [routerLink]="'/'"
        fragment="contact_component"
        (click)="scrollToFragment('contact_component')"
        >Konstantin.Aksenov&#64;dev2k.org</a
      >
      <span class="fontOverpass disableTextSelection">
        <a
          [routerLink]="'/'"
          fragment="aboutH1"
          (click)="scrollToFragment('aboutH1')"
        >
          <div class="arrow-container">
            <div class="arrow-animation">
              <img
                src="assets/arrows/scrollArrowDown.svg"
                alt="Scrolling Arrow"
              />
            </div>
          </div>

          {{ "scroll" | upperCase }}
          <br />
          {{ "down" | upperCase }}</a
        >
      </span>
    </div>
  </section>
</div>
