button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: clamp(100px, 20% + 0.4rem, 200px);
  height: clamp(30px, 12% + 1.4rem, 68px);
  font-size: clamp(0.6rem, 1.4vw + 0.2rem, 1.2rem);
  border: 1px solid black;
  border-radius: 2px;
  background-color: transparent;
  transition: background-color 0.3s ease, color 0.5s ease;
  box-shadow: 0px 4px 4px 0px rgba(0, 188, 143, 0.25);
  padding: 0.5rem 1rem;
  white-space: nowrap;
  cursor: pointer;

  &:hover {
    background-color: rgb(0, 188, 143);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: white;
  }
}

.sectionPlaceholder {
  height: 100vh;
  width: 100%;
}

@media screen and (max-width: 350px) and (orientation: portrait) {
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: 2rem 0;
  }

  .toTheRightSideBox {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .blancoBox {
      flex: 1;
      width: 100%;
    }

    .h2Box {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;

      h2 {
        text-shadow: 4px 3px 20px rgba(0, 0, 0, 0.38);
        font-size: clamp(1rem, 1vw + 0.75rem, 1.75rem);
        font-weight: 700;
        margin-top: 1rem;
      }
    }
  }

  .mainProjectBox {
    position: relative;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    max-width: unset;
    max-height: unset;
    min-height: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0.5rem;
    gap: 0.5rem;

    img {
      flex: 1;
      width: 100%;
      height: auto;
      border-radius: 5px;
      object-fit: cover;
      aspect-ratio: 16 / 9;
      z-index: 10;
    }

    .transparentDiv {
      flex: 1;
      max-height: 100%;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      background: transparent;
      pointer-events: none;
      visibility: hidden;
    }
  }

  .slider {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 5px;
    width: 100%;
    max-width: unset;
    min-height: unset;
    max-height: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0.5rem;
    gap: 0.5rem;

    .rectangle {
      flex: 1;
      width: 100%;
      z-index: 10;
      max-height: 100%;
      height: auto;
      aspect-ratio: 16 / 9;
      border-radius: 5px;
      position: relative;
      opacity: 1;
      border: 2px solid transparent;
      transition: transform 1s ease, border 1s ease, opacity 0.7s ease;
    }

    .hoverArrow {
      position: absolute;
      top: 50%;
      right: 0;
      width: 1.5rem;
      height: 1.5rem;
      margin-right: -22px;
      background-image: url("./../../../../../../public/assets/vector/arrows/hoverArraw.svg");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      border-radius: 50%;
      transform-origin: center;
      transition: transform 1.5s ease, opacity 0.2s ease;
      transform: translate(-35%, -40%) rotate(45deg);
      opacity: 0;
    }

    .rectangle.active .hoverArrow {
      transform: translate(-35%, -40%) rotate(175deg) scale(1);
      opacity: 1;
    }

    .infoBox {
      flex: 1;
      width: 100%;
      max-height: 100%;
      height: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding-left: 0;
      padding-bottom: 0;
      aspect-ratio: 16 / 9;

      transform: translateY(-100%);
      opacity: 0;
      transition: transform 0.5s ease 0.6s, opacity 0.5s ease 0.6s;
    }

    .infoBox.active {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .innerBox {
    padding-left: 0;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    align-self: flex-start;

    h2 {
      font-size: clamp(0.875rem, 1vw + 0.5rem, 1.25rem);
      text-align: left;
      color: rgb(22, 21, 21);
      font-weight: 800;
      white-space: nowrap;
    }

    h3 {
      font-size: clamp(0.75rem, 1vw + 0.25rem, 1.125rem);
      text-align: left;
      font-weight: 400;
      white-space: nowrap;
      color: rgb(0, 188, 143);
    }

    p {
      font-size: clamp(0.625rem, 1vw + 0.25rem, 1rem);
      text-align: left;
      font-weight: 400;
      text-wrap: balance;
      max-width: 40ch;
    }

    .btnBox {
      display: flex;
      flex-direction: row;
      gap: 0.5rem;
      align-self: flex-start;
      padding-top: 0.2rem;
    }
  }

  .even {
    .toTheRightSideBox {
      flex-direction: row-reverse;
    }

    .hoverArrow {
      left: 0;
    }

    .rectangle.active .hoverArrow {
      transform: translate(-50%, -40%) rotate(100deg) scale(1);
    }

    .rectangle.active {
      animation: slideInEven 1s ease forwards;
      border: 2px solid black;
      transform: scale(1.05);
    }

    @keyframes slideInEven {
      0% {
        transform: translate(0%, 0%);
        opacity: 0;
      }
      100% {
        transform: translate(2%, 4%);
        opacity: 1;
      }
    }
  }

  .odd {
    .innerBox {
      align-items: flex-end;

      p {
        text-align: right;
      }

      div {
        align-self: flex-end;
      }
    }

    .rectangle.active {
      animation: slideInOdd 1s ease forwards;
      border: 2px solid black;
      transform: scale(1.05);
    }

    @keyframes slideInOdd {
      0% {
        transform: translate(0%, 0%);
        opacity: 0;
      }
      100% {
        transform: translate(-2%, 4%);
        opacity: 1;
      }
    }
  }
}

@media screen and (min-width: 350px) and (max-width: 720px) and (orientation: portrait) {
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .toTheRightSideBox {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .blancoBox {
      flex: 1;
      width: 100%;
    }

    .h2Box {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;

      h2 {
        text-shadow: 4px 3px 20px rgba(0, 0, 0, 0.38);
        font-size: clamp(1rem, 1vw + 0.75rem, 1.75rem);
        font-weight: 700;
        margin-top: 1rem;
      }
    }
  }

  .mainProjectBox {
    position: relative;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    max-width: unset;
    max-height: unset;
    min-height: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0.5rem;
    gap: 0.5rem;

    img {
      flex: 1;
      width: 100%;
      height: auto;
      border-radius: 5px;
      object-fit: cover;
      aspect-ratio: 16 / 9;
      z-index: 10;
    }

    .transparentDiv {
      flex: 1;
      max-height: 100%;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      background: transparent;
      pointer-events: none;
      visibility: hidden;
    }
  }

  .slider {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 5px;
    width: 100%;
    max-width: unset;
    min-height: unset;
    max-height: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0.5rem;
    gap: 0.5rem;

    .rectangle {
      flex: 1;
      width: 100%;
      z-index: 10;
      max-height: 100%;
      height: auto;
      aspect-ratio: 16 / 9;
      border-radius: 5px;
      position: relative;
      opacity: 1;
      border: 4px solid transparent;
      transition: transform 1s ease, border 1s ease, opacity 0.7s ease;
    }

    .hoverArrow {
      position: absolute;
      top: 50%;
      right: 0;
      width: 2rem;
      height: 2rem;
      margin-right: -30px;
      background-image: url("./../../../../../../public/assets/vector/arrows/hoverArraw.svg");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      border-radius: 50%;
      transform-origin: center;
      transition: transform 1.5s ease, opacity 0.2s ease;
      transform: translate(-35%, -40%) rotate(45deg);
      opacity: 0;
    }

    .rectangle.active .hoverArrow {
      transform: translate(-35%, -40%) rotate(175deg) scale(1);
      opacity: 1;
    }

    .infoBox {
      flex: 1;
      width: 100%;
      max-height: 100%;
      height: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding-left: 0;
      padding-bottom: 0;
      aspect-ratio: 16 / 9;

      transform: translateY(-100%);
      opacity: 0;
      transition: transform 0.5s ease 0.6s, opacity 0.5s ease 0.6s;
    }

    .infoBox.active {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .innerBox {
    padding-left: 0;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    align-self: flex-start;

    h2 {
      font-size: clamp(1.25rem, 5vw + 0.25rem, 1.75rem);
      text-align: left;
      color: rgb(22, 21, 21);
      font-weight: 800;
      white-space: nowrap;
    }

    h3 {
      font-size: clamp(0.938rem, 3vw + 0.25rem, 1.438rem);
      text-align: left;
      font-weight: 400;
      white-space: nowrap;
      color: rgb(0, 188, 143);
    }

    p {
      font-size: clamp(0.625rem, 2vw, 1rem);
      text-align: left;
      font-weight: 400;
      text-wrap: balance;
      max-width: 40ch;
    }

    .btnBox {
      display: flex;
      flex-direction: row;
      gap: 0.5rem;
      align-self: flex-start;
      padding-top: 1rem;
    }
  }

  .even {
    .toTheRightSideBox {
      flex-direction: row-reverse;
    }

    .hoverArrow {
      left: 0;
    }

    .rectangle.active .hoverArrow {
      transform: translate(-50%, -40%) rotate(100deg) scale(1);
    }

    .rectangle.active {
      animation: slideInEven 1s ease forwards;
      border: 2px solid black;
      transform: scale(1.05);
    }

    @keyframes slideInEven {
      0% {
        transform: translate(0%, 0%);
        opacity: 0;
      }
      100% {
        transform: translate(2%, 4%);
        opacity: 1;
      }
    }
  }

  .odd {
    .innerBox {
      align-items: flex-end;
      align-self: flex-end;

      p {
        text-align: right;
      }

      div {
        align-self: flex-end;
      }
    }

    .rectangle.active {
      animation: slideInOdd 1s ease forwards;
      border: 2px solid black;
      transform: scale(1.05);
    }

    @keyframes slideInOdd {
      0% {
        transform: translate(0%, 0%);
        opacity: 0;
      }
      100% {
        transform: translate(-2%, 4%);
        opacity: 1;
      }
    }
  }
}

@media screen and (max-width: 720px) and (orientation: landscape) {
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .toTheRightSideBox {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .blancoBox {
      flex: 1;
      width: 100%;
    }

    .h2Box {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;

      h2 {
        text-shadow: 4px 3px 20px rgba(0, 0, 0, 0.38);
        font-size: clamp(1rem, 1vw + 0.75rem, 1.75rem);
        font-weight: 700;
        margin-top: 1rem;
      }
    }
  }

  .mainProjectBox {
    position: relative;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    max-width: unset;
    max-height: unset;
    min-height: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0.5rem;
    gap: 0.5rem;

    img {
      flex: 1;
      width: 100%;
      height: auto;
      border-radius: 5px;
      object-fit: cover;
      aspect-ratio: 16 / 9;
      z-index: 10;
    }

    .transparentDiv {
      flex: 1;
      max-height: 100%;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      background: transparent;
      pointer-events: none;
      visibility: hidden;
    }
  }

  .slider {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 5px;
    width: 100%;
    max-width: unset;
    min-height: unset;
    max-height: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0.5rem;
    gap: 0.5rem;

    .rectangle {
      flex: 1;
      width: 100%;
      z-index: 10;
      max-height: 100%;
      height: auto;
      aspect-ratio: 16 / 9;
      border-radius: 5px;
      position: relative;
      opacity: 1;
      border: 4px solid transparent;
      transition: transform 1s ease, border 1s ease, opacity 0.7s ease;
    }

    .hoverArrow {
      position: absolute;
      top: 50%;
      right: 0;
      width: 2rem;
      height: 2rem;
      margin-right: -30px;
      background-image: url("./../../../../../../public/assets/vector/arrows/hoverArraw.svg");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      border-radius: 50%;
      transform-origin: center;
      transition: transform 1.5s ease, opacity 0.2s ease;
      transform: translate(-35%, -40%) rotate(45deg);
      opacity: 0;
    }

    .rectangle.active .hoverArrow {
      transform: translate(-35%, -40%) rotate(175deg) scale(1.2);
      opacity: 1;
    }

    .infoBox {
      flex: 1;
      width: 100%;
      max-height: 100%;
      height: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding-left: 0;
      padding-bottom: 0;
      aspect-ratio: 16 / 9;

      transform: translateY(-100%);
      opacity: 0;
      transition: transform 0.5s ease 0.6s, opacity 0.5s ease 0.6s;
    }

    .infoBox.active {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .innerBox {
    padding-left: 0;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    align-self: flex-start;

    h2 {
      font-size: clamp(1.25rem, 5vw + 0.25rem, 1.75rem);
      text-align: left;
      color: rgb(22, 21, 21);
      font-weight: 800;
      white-space: nowrap;
    }

    h3 {
      font-size: clamp(0.938rem, 3vw + 0.25rem, 1.438rem);
      text-align: left;
      font-weight: 400;
      white-space: nowrap;
      color: rgb(0, 188, 143);
    }

    p {
      font-size: clamp(0.625rem, 2vw, 1rem);
      text-align: left;
      font-weight: 400;
      text-wrap: balance;
      max-width: 40ch;
    }

    .btnBox {
      display: flex;
      flex-direction: row;
      gap: 0.5rem;
      align-self: flex-start;
      padding-top: 1rem;
    }
  }

  .even {
    .hoverArrow {
      left: 0;
    }

    .rectangle.active .hoverArrow {
      transform: translate(-50%, -40%) rotate(100deg) scale(1.2);
    }

    .rectangle.active {
      animation: slideInEven 1s ease forwards;
      border: 2px solid black;
      transform: scale(1.05);
    }

    @keyframes slideInEven {
      0% {
        transform: translate(0%, 0%);
        opacity: 0;
      }
      100% {
        transform: translate(2%, 4%);
        opacity: 1;
      }
    }
  }

  .odd {
    .toTheRightSideBox {
      flex-direction: row-reverse;
    }

    .innerBox {
      align-items: flex-end;
      align-self: flex-end;

      p {
        text-align: right;
      }

      div {
        align-self: flex-end;
      }
    }

    .rectangle.active {
      animation: slideInOdd 1s ease forwards;
      border: 2px solid black;
      transform: scale(1.05);
    }

    @keyframes slideInOdd {
      0% {
        transform: translate(0%, 0%);
        opacity: 0;
      }
      100% {
        transform: translate(-2%, 4%);
        opacity: 1;
      }
    }
  }
}

@media screen and (min-width: 720px) and (max-width: 1024px) and (orientation: portrait) {
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .toTheRightSideBox {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .blancoBox {
      flex: 1;
      width: 100%;
    }

    .h2Box {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;

      h2 {
        text-shadow: 4px 3px 20px rgba(0, 0, 0, 0.38);
        font-size: clamp(1rem, 4vw + 0.75rem, 1.75rem);
        font-weight: 700;
        margin-top: 1rem;
      }
    }
  }

  .mainProjectBox {
    position: relative;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    max-width: unset;
    max-height: unset;
    min-height: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0.5rem;
    gap: 0.5rem;

    img {
      flex: 1;
      width: 100%;
      height: auto;
      border-radius: 5px;
      object-fit: cover;
      aspect-ratio: 16 / 9;
      z-index: 10;
    }

    .transparentDiv {
      flex: 1;
      max-height: 100%;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      background: transparent;
      pointer-events: none;
      visibility: hidden;
    }
  }

  .slider {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 5px;
    width: 100%;
    max-width: unset;
    min-height: unset;
    max-height: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0.5rem;
    gap: 0.5rem;

    .rectangle {
      flex: 1;
      width: 100%;
      z-index: 10;
      max-height: 100%;
      height: auto;
      aspect-ratio: 16 / 9;
      border-radius: 5px;
      position: relative;
      opacity: 1;
      border: 4px solid transparent;
      transition: transform 1s ease, border 1s ease, opacity 0.7s ease;
    }

    .hoverArrow {
      position: absolute;
      top: 50%;
      right: 0;
      width: 2rem;
      height: 2rem;
      margin-right: -30px;
      background-image: url("./../../../../../../public/assets/vector/arrows/hoverArraw.svg");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      border-radius: 50%;
      transform-origin: center;
      transition: transform 1.5s ease, opacity 0.2s ease;
      transform: translate(-35%, -40%) rotate(45deg);
      opacity: 0;
    }

    .rectangle.active .hoverArrow {
      transform: translate(-35%, -40%) rotate(175deg) scale(1.25);
      opacity: 1;
    }

    .infoBox {
      flex: 1;
      width: 100%;
      max-height: 100%;
      height: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding-left: 0;
      padding-bottom: 0;
      aspect-ratio: 16 / 9;

      transform: translateY(-100%);
      opacity: 0;
      transition: transform 0.5s ease 0.6s, opacity 0.5s ease 0.6s;
    }

    .infoBox.active {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .innerBox {
    padding-left: 0;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    align-self: flex-start;

    h2 {
      font-size: clamp(1.25rem, 5vw + 0.25rem, 1.75rem);
      text-align: left;
      color: rgb(22, 21, 21);
      font-weight: 800;
      white-space: nowrap;
    }

    h3 {
      font-size: clamp(0.938rem, 3vw + 0.25rem, 1.438rem);
      text-align: left;
      font-weight: 400;
      white-space: nowrap;
      color: rgb(0, 188, 143);
    }

    p {
      font-size: clamp(0.625rem, 2vw, 1rem);
      text-align: left;
      font-weight: 400;
      text-wrap: balance;
      max-width: 40ch;
    }

    .btnBox {
      display: flex;
      flex-direction: row;
      gap: 0.5rem;
      align-self: flex-start;
      padding-top: 1rem;
    }
  }

  .even {
    .toTheRightSideBox {
      flex-direction: row-reverse;
    }

    .hoverArrow {
      left: 0;
    }

    .rectangle.active .hoverArrow {
      transform: translate(-50%, -40%) rotate(100deg) scale(1.25);
    }

    .rectangle.active {
      animation: slideInEven 1s ease forwards;
      border: 2px solid black;
      transform: scale(1.05);
    }

    @keyframes slideInEven {
      0% {
        transform: translate(0%, 0%);
        opacity: 0;
      }
      100% {
        transform: translate(2%, 4%);
        opacity: 1;
      }
    }
  }

  .odd {
    .innerBox {
      align-items: flex-end;
      align-self: flex-end;

      p {
        text-align: right;
      }

      div {
        align-self: flex-end;
      }
    }

    .rectangle.active {
      animation: slideInOdd 1s ease forwards;
      border: 2px solid black;
      transform: scale(1.05);
    }

    @keyframes slideInOdd {
      0% {
        transform: translate(0%, 0%);
        opacity: 0;
      }
      100% {
        transform: translate(-2%, 4%);
        opacity: 1;
      }
    }
  }
}

@media screen and (min-width: 720px) and (max-width: 1024px) and (orientation: landscape) {
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
  }

  .toTheRightSideBox {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .blancoBox {
      flex: 1;
      width: 100%;
    }

    .h2Box {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;

      h2 {
        text-shadow: 4px 3px 20px rgba(0, 0, 0, 0.38);
        font-size: clamp(1rem, 1vw + 0.75rem, 1.75rem);
        font-weight: 700;
        margin-top: 1rem;
      }
    }
  }

  .mainProjectBox {
    position: relative;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    max-width: unset;
    max-height: unset;
    min-height: unset;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0.5rem;
    gap: 0.5rem;

    img {
      flex: 1;
      width: calc(50% - 10px);
      height: auto;
      border-radius: 5px;
      object-fit: cover;
      aspect-ratio: 16 / 9;
      z-index: 10;
    }

    .transparentDiv {
      flex: 1;
      max-height: 100%;
      width: calc(50% - 10px);
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      background: transparent;
      pointer-events: none;
      visibility: hidden;
    }
  }

  .slider {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 5px;
    width: 100%;
    max-width: unset;
    min-height: unset;
    max-height: unset;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0.5rem;
    gap: 0.5rem;

    .rectangle {
      flex: 1;
      z-index: 10;
      width: calc(50% - 10px);
      height: auto;
      max-height: 100%;
      aspect-ratio: 16 / 9;
      border-radius: 5px;
      position: relative;
      opacity: 1;
      border: 2.25px solid transparent;
      transition: transform 1s ease, border 0.2s ease, opacity 0.2s ease;
    }

    .hoverArrow {
      position: absolute;
      top: 50%;
      right: 0;
      width: 2rem;
      height: 2rem;
      margin-right: -30px;
      background-image: url("./../../../../../../public/assets/vector/arrows/hoverArraw.svg");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      border-radius: 50%;
      transform-origin: center;
      transition: transform 1.5s ease, opacity 0.2s ease;
      transform: translate(-35%, -40%) rotate(45deg);
      opacity: 0;
    }

    .rectangle.active .hoverArrow {
      transform: translate(-35%, -40%) rotate(175deg) scale(1.25);
      opacity: 1;
    }

    .infoBox {
      flex: 1;
      width: calc(50% - 10px);
      height: auto;
      max-height: 100%;
      display: flex;
      align-items: center;
      align-items: flex-start;
      justify-content: flex-end;
      padding-left: 0;
      padding-bottom: 0;
      aspect-ratio: 16 / 9;
      transform: translateX(-100%);
      opacity: 0;
      transition: transform 0.5s ease 0.6s, opacity 0.5s ease 0.6s;
    }

    .infoBox.active {
      transform: translateX(0);
      opacity: 1;
    }
  }

  .innerBox {
    padding-left: 2.5rem;
    padding-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    align-self: flex-start;

    h2 {
      font-size: clamp(1.25rem, 1.25vw, 1.75rem);
      text-align: left;
      color: rgb(22, 21, 21);
      font-weight: 800;
      white-space: nowrap;
    }

    h3 {
      font-size: clamp(0.938rem, 0.85vw + 0.25rem, 1.438rem);
      text-align: left;
      font-weight: 400;
      white-space: nowrap;
      color: rgb(0, 188, 143);
    }

    p {
      font-size: clamp(0.625rem, 0.4vw, 1rem);
      text-align: left;
      font-weight: 400;
      text-wrap: balance;
      max-width: 40ch;
    }

    .btnBox {
      display: flex;
      flex-direction: row;
      gap: 0.5rem;
      align-self: flex-start;
      padding-top: 1rem;
    }
  }

  .even {
    .infoBox {
      justify-content: center;
    }

    .innerBox {
      padding-left: 1.2rem;
      padding-bottom: unset;
      align-self: center;
    }

    .rectangle.active .hoverArrow {
      transform: translate(-50%, -40%) rotate(0deg) scale(1.2);
    }

    .rectangle.active {
      animation: slideInEven 1s ease forwards;
      border: 2px solid black;
      transform: scale(1.5);
    }

    @keyframes slideInEven {
      0% {
        transform: translate(0%, 0%);
        opacity: 0;
      }
      100% {
        transform: translate(2%, 4%);
        opacity: 1;
      }
    }
  }

  .odd {
    .mainProjectBox {
      flex-direction: row-reverse;
    }

    .slider {
      flex-direction: row-reverse;
    }

    .toTheRightSideBox {
      flex-direction: row-reverse;
    }

    .infoBox {
      justify-content: center;
    }

    .innerBox {
      align-items: flex-end;
      align-self: center;
      padding-left: unset;
      padding-bottom: unset;

      p {
        text-align: right;
      }

      div {
        align-self: flex-end;
      }
    }

    .rectangle.active .hoverArrow {
      left: 0;
      transform: translate(-50%, -40%) rotate(-100deg) scale(1.2);
    }

    .rectangle.active {
      animation: slideInOdd 1s ease forwards;
      border: 2px solid black;
      transform: scale(1.5);
    }

    @keyframes slideInOdd {
      0% {
        transform: translate(0%, 0%);
        opacity: 0;
      }
      100% {
        transform: translate(-2%, 4%);
        opacity: 1;
      }
    }
  }
}

@media screen and (min-width: 1025px) {
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: 1rem auto;
  }

  .toTheRightSideBox {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .blancoBox {
      flex: 1;
      width: 100%;
    }

    .h2Box {
      flex: 1;
      display: flex;
      align-items: center;
      width: 100%;

      h2 {
        text-shadow: 4px 3px 20px rgba(0, 0, 0, 0.38);
        font-size: clamp(1rem, 1vw + 0.75rem, 1.75rem);
        font-weight: 700;
        margin-top: 2rem;
      }
    }
  }

  .mainProjectBox {
    position: relative;
    border-radius: 5px;
    width: 100%;
    max-width: 1440px;
    min-height: 300px;
    max-height: 460px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0.5rem;
    gap: 0.5rem;

    img {
      flex: 1;
      height: auto;
      width: calc(50% - 10px);
      border-radius: 5px;
      object-fit: cover;
      aspect-ratio: 16 / 9;
      z-index: 10;
      filter: grayscale(100%);
      transition: filter 0.3s ease;
    }

    .transparentDiv {
      flex: 1;
      max-height: 100%;
      height: 100%;
      width: calc(50% - 10px);
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      background: transparent;
      pointer-events: none;
      visibility: hidden;
    }
  }

  .mainProjectBox:hover img {
    filter: grayscale(0%);
  }

  .slider {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 5px;
    width: 100%;
    max-width: 1440px;
    min-height: 300px;
    max-height: 460px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0.5rem;
    gap: 0.5rem;
  }

  .rectangle {
    flex: 1;
    z-index: 10;
    width: calc(50% - 10px);
    height: auto;
    max-height: 100%;
    aspect-ratio: 16 / 9;
    border-radius: 5px;
    position: relative;
    opacity: 1;
    border: 4px solid transparent;
    transition: transform 1s ease, border 1s ease, opacity 0.7s ease;
  }

  .hoverArrow {
    position: absolute;
    top: 50%;
    right: 0;
    width: 2.5rem;
    height: 2.5rem;
    margin-right: -36px;
    background-image: url("./../../../../../../public/assets/vector/arrows/hoverArraw.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    transform-origin: center;
    transition: transform 1.5s ease, opacity 0.2s ease;
    transform: translate(-35%, -40%) rotate(135deg);
    opacity: 0;
  }

  .rectangle:hover .hoverArrow {
    transform: translate(-35%, -40%) rotate(0deg) scale(1.2);
    opacity: 1;
  }

  .infoBox {
    flex: 1;
    max-height: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    width: calc(50% - 10px);
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;

    &:hover {
      transform: translateX(0);
      opacity: 1;
    }
  }

  .rectangle:hover + .infoBox {
    transform: translateX(0);
    opacity: 1;
    transition-delay: 0.5s;
  }

  .innerBox {
    padding-left: 2.5rem;
    padding-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-self: flex-start;

    h2 {
      font-size: clamp(28px, 1.5vw + 1.5rem, 50px);
      color: rgb(22, 21, 21);
      font-weight: 800;
      white-space: nowrap;
    }

    h3 {
      font-size: clamp(12px, 1vw + 0.5rem, 23px);
      font-weight: 400;
      white-space: nowrap;
      color: rgb(0, 188, 143);
    }

    p {
      font-size: clamp(12px, 1vw + 0.2rem, 18px);
      font-weight: 400;
      text-wrap: balance;
      max-width: 40ch;
    }

    .btnBox {
      display: flex;
      flex-direction: row;
      gap: 0.5rem;
      padding-top: 1rem;
    }
  }

  .even {
    padding-left: 1.5rem;

    .toTheRightSideBox {
      flex-direction: row;

      .h2Box {
        justify-content: flex-end;

        h2 {
          padding-right: 4rem;
        }
      }
    }

    .innerBox {
      h2 {
        font-size: clamp(28px, 1.5vw + 1.25rem, 50px);
      }
    }

    .infoBox {
      transform: translateX(-100%);
      opacity: 0;
      transition: transform 0.3s ease 0.3s, opacity 0.33s ease 0.5s;

      &:hover {
        transform: translateX(0);
        opacity: 1;
      }
    }

    .rectangle {
      &:hover {
        animation: slideInEven 1s ease forwards;
        border: 4px solid black;
        transform: scale(1.05);
      }
    }

    @keyframes slideInEven {
      0% {
        transform: translate(0%, 0%);
        opacity: 0;
      }
      100% {
        transform: translate(2%, 4%);
        opacity: 1;
      }
    }

    .rectangle:not(:hover) {
      animation: slideOutEven 1s ease forwards;
    }

    @keyframes slideOutEven {
      0% {
        transform: translate(2%, 4%);
        opacity: 1;
      }
      100% {
        transform: translate(0%, 0%);
        opacity: 0;
      }
    }
  }

  .odd {
    padding-right: 1.5rem;

    .toTheRightSideBox {
      flex-direction: row-reverse;

      .h2Box {
        justify-content: flex-start;

        h2 {
          padding-left: 4rem;
        }
      }
    }

    .innerBox {
      align-self: flex-end;
      align-items: flex-end;
      margin-right: 2rem;

      h2 {
        font-size: clamp(28px, 1.5vw + 1.25rem, 50px);
      }

      p {
        text-align: right;
      }
    }

    .btnBox {
      align-self: flex-end;
    }

    .mainProjectBox {
      flex-direction: row-reverse;
    }

    .slider {
      flex-direction: row-reverse;
    }

    .infoBox {
      transform: translateX(100%);
      opacity: 0;
      transition: transform 0.3s ease 0.3s, opacity 0.3s ease 0.3s;

      &:hover {
        transform: translateX(0);
        opacity: 1;
      }
    }

    .hoverArrow {
      transform: translate(-50%, -40%) rotate(135deg);
      left: 0;
    }

    .rectangle:hover .hoverArrow {
      transform: translate(-50%, -40%) rotate(270deg) scale(1.2);
    }

    .rectangle {
      &:hover {
        animation: slideInOdd 1s ease forwards;
        border: 4px solid black;
        transform: scale(1.05);
      }
    }

    @keyframes slideInOdd {
      0% {
        transform: translate(0%, 0%);
        opacity: 0;
      }
      100% {
        transform: translate(-2%, 4%);
        opacity: 1;
      }
    }

    .rectangle:not(:hover) {
      animation: slideOutOdd 1s ease forwards;
    }

    @keyframes slideOutOdd {
      0% {
        transform: translate(-2%, 4%);
        opacity: 1;
      }
      100% {
        transform: translate(0%, 0%);
        opacity: 0;
      }
    }
  }
}
