@if (projects) { @for (project of projects; track $index) { @defer (prefetch on
idle) {

<section
  [ngClass]="oddOrEven($index)"
  data-aos="fade-up"
  data-aos-duration="1000"
>
  <div class="toTheRightSideBox">
    <div class="blancoBox"></div>
    <div class="h2Box">
      <h2 class="fontSyne disableTextSelection">
        {{ $index + 1 }} / {{ projectsLength }}
      </h2>
    </div>
  </div>

  <div class="mainProjectBox disableTextSelection">
    <img
      [src]="project.img"
      [alt]="'PROJECTS.' + project.projectName + '-alt' | translate"
    />

    <img class="transparentDiv disableTextSelection" alt="Placeholder image." />

    <div class="slider">
      <div class="rectangle" id="rectangle" [class.active]="isVisible">
        <div
          class="hoverArrow"
          id="hoverArrow"
          [class.active]="isVisible"
        ></div>
      </div>

      <div class="infoBox" id="infoBox" [class.active]="isVisible">
        <div class="innerBox">
          <h2 class="fontSyne disableTextSelection" appHighlighting>
            {{ "PROJECTS." + project.projectName + "-projectName" | translate }}
          </h2>
          <h3 class="fontOverpass disableTextSelection">
            {{ project.headline }}
          </h3>

          <p class="disableTextSelection projectText fontOverpass">
            {{ "PROJECTS." + project.projectName + "-description" | translate }}
          </p>

          <div class="fontOverpass disableTextSelection btnBox">
            <button
              class="fontOverpass disableTextSelection"
              (click)="openLink(project.linkToPage)"
            >
              Live test
            </button>
            <button
              class="fontOverpass disableTextSelection"
              (click)="openLink(project.linkToGit)"
            >
              GitHub
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

} @placeholder {
<div class="sectionPlaceholder"></div>
} } } @else {

<div class="project_blank">project_Fallback WORKS</div>
}
